// Scss Document //

/* ============================================= */
/*              Typography                       */
/* ============================================= */

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

main {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
}

#header,
span {
  text-transform: uppercase;
}

#game-name,
span,
main {
  color: $light-text;
}

//Score heading
#score-container span:first-child {
  color: $score-text;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  margin-bottom: -4px;
  margin-top: 4px;
}

//Score number
#score {
  font-size: 2.5em;
  color: $dark-text;
  font-weight: 700;
}

//House picked text
#computer-text {
  @include fixed5050(27px, 90px);
  width: 155px;
  letter-spacing: 2px;
  display: none;
  @include mq("tablet") {
    top: calc(50% + -170px);
    left: calc(50% + 110px);
  }
}

//player picked text
#player-text {
  @include fixed5050(27px, -90px);
  width: 96px;
  letter-spacing: 2px;
  display: none;
  @include mq("tablet") {
    top: calc(50% + -170px);
    left: calc(50% + -110px);
  }
}

//win / lose text
#win-or-lose-text {
  @include fixed5050(90px);
  display: none;
  width: 205px;
  height: 50px;
  font-size: 3em;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2px;
  @include mq("tablet") {
    top: calc(50% + -83px);
  }
}
